/* Colors */
:root {
	--example: #000;
	--c: #6c7365;
}
@property --c{
  syntax: '<color>';
  inherits: false;
  initial-value: #262824;
}
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	color: #fff;
	text-align: center;
	min-height: 100vh;
	position: relative;
	background: #bec5b4;
	background: linear-gradient(45deg, #b5c3a0, var(--c)),url('white_wall_hash.png');
	background-blend-mode: multiply;
	animation-delay: 8s;
	animation: 5s forwards sunrise;  /* cubic-bezier(.93,.03,.94,.61) */
}
h1 {
	font-size: 36px;
	color: #151b19;
}
.intro-text {
	font-size: 16px;
	max-width: 280px;
	margin: 0 auto;
	color: #000;
	}
.launch-cta {
	text-decoration: none;
	background: #151b19;
	color: #84917e;
	padding: 10px 40px;
	border-radius: 100px;
	display: block;
	max-width: fit-content;
	margin: 0 auto;
	margin-top: 40px;
	font-weight: bold;
	border: 1px solid #343a31;
	transition: all 0.15s ease-in-out;
}
.launch-cta:hover {
	transform: scale(1.1);
	padding: 10px 50px;
	color: #e7eedc;
}
.landing-img {
	margin-top: 40px;
	max-width: 300px;
	padding-bottom: 80px;
}
.footer {
	color: #444444;
	position: absolute;
	bottom: 0;
	width: 90%;
	padding: 20px 5%;
}
.footer a, .footer a:hover, .footer a:visited {
	color: #444444;
}
.footer .madewith {
	font-size: 16px;
}
.footer .mobilebr {
	display: block;
}

@media screen and (min-width: 600px) {
	.wrapper {
		max-width: 600px;
		margin: 0 auto;
	}
	.info-wrapper {
		float: left;
		margin-top: 45px;
	}
	.footer .mobilebr {
		display: none;
	}
}
@keyframes sunrise {
	from {
		--c: #262824;
	}
	to {
		--c: #d9dac7;
	}
}

/* #262824 */
/* #dfe6d8 */
/* yellow-ish: #d9dac7 */
/* background: linear-gradient(45deg, #b5c3a0, #262824),url('white_wall_hash.png'); */
/* background: linear-gradient(45deg, #b5c3a0, #dfe6d8),url('white_wall_hash.png'); */

